h1{
    color: darkblue;
    text-align: center;
    text-shadow: darkorange;
    
}
body{
    background-image: https://i.ytimg.com/vi/Oi6bTQND-QI/maxresdefault.jpg;
}
h2{
    color: blue;
}
ul{
    color: crimson;
}