h1{
    color: darkblue;
    text-align: center;
    text-shadow: darkorange;
    font-family: fantasy;
    font-weight: 500;
}
h2{
    color:white;
}
ul{
    color:ghostwhite;
}
.p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: rgb(66, 48, 26);
}

